doctype html
html
  head
    title FPS Records
    link(href="/pure-min.css" rel="stylesheet" type="text/css")
    link(href="/app.css" rel="stylesheet" type="text/css")
    block head
  body
    block content
    script(src="./js/jquery-1.10.2.min.js")
    block scripts
